/*CSS reset*/
html {
  overflow-x: hidden;
  overflow-y: auto;
  color: #333;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: normal;
  font-weight: 400;
}

del, ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input, button, textarea, select {
  outline: none;
  *font-size: 100%;
}

textarea {
  resize: none;
}

a {
  outline: 0;
  text-decoration: none;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

.clearfix, .cf {
  zoom: 1;
}

.clearfix:after, .cf:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
}

.container {
  width: 100%;
}
.demo-perspective-photo {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 10px;
  background-color: #fff;
  zoom: 2;
}

.demo-perspective-photo #stage {
  width: 100%;
  /* height: 200px; */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: relative;
}

.demo-perspective-photo #container {
  position: absolute;
  width: 100px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -18px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;  
  -webkit-animation: photoRotate 18s ease-in-out infinite 2s;
  animation: photoRotate 18s ease-in-out infinite 2s;
}

.demo-perspective-photo .piece {
  width: 128px; 
  /* height: 200px; */
   -webkit-box-reflect: below 10px -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 30%,rgba(250,250,250,0.3));
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -moz-transition: opacity 1s, -moz-transform 1s;
  transition: opacity 1s, transform 1s;
  position: absolute;
  bottom: 0;
}
.demo-perspective-photo .piece:nth-child(1){
  -webkit-transform: rotateY(0deg) translateZ(196px);
}
.demo-perspective-photo .piece:nth-child(2){
  -webkit-transform: rotateY(60deg) translateZ(196px);
}

.demo-perspective-photo .piece:nth-child(3){
  -webkit-transform: rotateY(120deg) translateZ(196px);
}
.demo-perspective-photo .piece:nth-child(4){
  -webkit-transform: rotateY(180deg) translateZ(196px);
}
.demo-perspective-photo .piece:nth-child(5){
  -webkit-transform: rotateY(240deg) translateZ(196px);
}
.demo-perspective-photo .piece:nth-child(6){
  -webkit-transform: rotateY(300deg) translateZ(196px);
}
@-webkit-keyframes photoRotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  16.7% {
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
  }
  33.3% {
    -webkit-transform: rotateY(120deg);
    transform: rotateY(120deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  66.7% {
    -webkit-transform: rotateY(240deg);
    transform: rotateY(240deg);
  }
  83.3% {
    -webkit-transform: rotateY(300deg);
    transform: rotateY(300deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}